requests = "~=2.27"
deep-translator==1.11.4
googletrans==3.0.0
gTTS==2.4.0
playsound==1.3.0
python-dotenv==1.0.1
python-lokalise-api==2.1.2
requests==2.31.0
SpeechRecognition==3.10.0
translators==5.8.9
